
.black_background {
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
}

.description {
    display: block;
    text-align: center;
    padding-top: 0vh;
    font-size: 2vw;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-weight: 320;
    margin-top: 0vh;
}

.nameText {
    padding-top: 35vh;
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;;
    font-weight: 300;
    font-size: 8vw;
    padding-bottom: 0vh;
    margin-bottom: 0vh;
}

.starBackground {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.iconList {
    text-align: center;
    font-size: 2.5vw;
    z-index: 9999;
}

.icon {
    display: inline-block; /* or inline-flex */
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    color: grey;
    transition: color 0.3s, filter 0.3s;
}

.icon:hover {
    color: white;
    filter: drop-shadow(0 0 5px white);
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
